---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter.tsx";
import "../style.css";
---

<Layout title="counter application">
	<main class="h-dvh flex justify-center items-center text-white text-5xl flex-col">
		<Counter client:load/>
	</main>
</Layout>
